.link{
    text-decoration: none;
    color: currentColor;
}
.filter-btn{
    text-align: center;
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    background-color: #F5F4FA;;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    
}
.filter-btn:hover{
    background-color: var(--accent-color);
    color: var(--text-color-wht);
}
.filter-btn:focus {
    background-color: var(--accent-color);
    color: var(--text-color-wht);
}
.work-title{
font-weight: 700;
font-size: 18px;
line-height: 2;
color: var(--text-color-blck);

}
.work-text{
font-size: 16px;
line-height: 1.87;   
}